.infoBox{
    background-color: bisque;
    height:90%;
    width:30%;
    margin-right:2%;
    overflow: auto;
}

.timepicker {
    margin-top: 8px;
    height: 34px;
    border-radius: 4px;
}

.map{
   height: 90%;
   min-width: 640px;
   min-height: 640px;
}

.search-methods {
    display: inline-block;
    padding-top: 3em;
    margin-left: 4em;
    width: 400px;
}

.block{
    height:30%;
    width:30%;
    border: 1px solid black;
}

.wrapper{
    width:98%;
    margin: 0 auto;
}

.highlight {
    border: 3px outset lightblue;
    box-shadow: -2px -2px 20px black;
}

.isHidden {
    display: none;
}


.attraction h3:hover {
    text-decoration: underline;

}

.smallText{
    font-size: .8em;
    // text-decoration: none !important;
}

nav{
    height:150px;
    box-shadow: 2px 0 10px gray;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

.area-box {
    min-width: 192px;
    min-height: 192px;
}

footer {
    text-align: center;
}