.infoBox{
    background-color: bisque;
    height:80%;
    width:30%;
    margin-right:2%;
    overflow: auto;
}

.map{
   height: 90%;
}

.block{
    height:30%;
    width:30%;
    border: 1px solid black;
}

.wrapper{
    width:98%;
    margin: 0 auto;
}

.highlight {
    border: 2px solid goldenrod;
}
.isHidden {
    display: none;
}


.attraction h3:hover {
    text-decoration: underline;

}

.smallText{
    font-size: .8em;
    // text-decoration: none !important;
}

nav{
    height:150px;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}