$happyRed: #ce373a;
$happyBlue: #025cac;
$happyYellow: #fed101;

.infoBox{
    background-color: $happyYellow;
    height:600px;
    overflow: auto;
}

.block{
    height:200px;
    border: 1px solid black;
}

.wrapper{
    width:90%;
    margin: 0 auto;
}

.isHidden {
    display: none;
}

.attraction h3:hover {
    text-decoration: underline;
}

.smallText{
    font-size: .8em;
}

nav{
    height:150px;
}

h3 {
    font-size: 1.5em;
    cursor: pointer;
}

h4 {
    font-size: 1.2em;
}

section {
    background-image: url("../images/magic-kingdom.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
}

.mapNames {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background-color: $happyBlue;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: hand;
}

.highlight {
    background: $happyRed;
}